@import url("https://use.typekit.net/rdz6bkk.css");

:root {
  /* --- color palette --- */
  --clr_dark_txt: #030c0a;
  --clr_dark1: #0f342c;
  --clr_dark2: #1a5b4e;
  --clr_cta: #258370;
  --clr_light_bg: #f7fdfc;
  --clr_light1: #e3f7f3;
  --clr_light2: #bcece2;

  /* --- font families --- */
  --header_font: "dico-mono-slab", mono;
  --main_font: "ballinger-mono", sans-serif;

  /* --- font weights --- */
  --header_regular: 400;
  --header_bold: 700;
  --header_extrabold: 800;

  --main_font_thin: 100;
  --main_font_light: 300;
  --main_font_regular: 400;
  --main_font_medium: 500;
  --main_font_bold: 700;

  /* --- font sizes --- */
  --font_xs: clamp(0.5rem, 0.8vw, 1rem);
  --font_s: clamp(1rem, 1.1vw, 1.2rem);
  --nav_size: clamp(1.2rem, 1.3vw, 1.6rem);
  --font_m: clamp(1.5rem, 2vw, 2.5rem);
  --font_l: clamp(2.2rem, 3.2vw, 3.5rem);

  /* --- main blob shape --- */
  --blob_border_rad: 63% 37% 66% 34% / 34% 57% 43% 66%;

  /* --- border radius --- */
  --border_rad: 5px;

  /* --- most used spacing --- */
  --main_vertical_space: 3dvw;
}

/* --- GENERAL STYLING --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

*,
html,
body {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  object-fit: contain;
  max-width: 100%;
}

a {
  color: inherit;
  line-height: 175%;
  text-decoration: none;
}

ul,
li {
  font-family: var(--header_font);
  font-size: var(--nav_size);
  font-weight: var(--header_bold);
  line-height: 175%;
  list-style: none;
}

body {
  background-color: var(--clr_light_bg);
  font-family: var(--main_font);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header_font);
  line-height: 175%;
}

button,
p,
label,
input,
textarea,
h6,
footer {
  font-family: var(--main_font);
  font-size: var(--font_s);
}

p {
  hyphens: manual;
  line-height: 175%;
  text-align: justify;
}

h2 {
  font-size: var(--font_m);
}

/* --- REUSED CLASS STYLING --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.main_grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 5dvw auto 10dvw;
  max-width: 1400px;
  row-gap: var(--main_vertical_space);
  width: 80%;
}

.grid_w_wave {
  display: grid;
  grid-template-columns: 10dvw repeat(12, 1fr) 10dvw;
}

.wave {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
}

/* --- text & image 2-part layout --- */

.txt_left h2,
.txt_right h2 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.txt_left article {
  grid-column: 1 / 8;
  grid-row: 2 / 3;
}

.txt_left img,
.txt_left .img_cluster {
  grid-column: 9 / -1;
  grid-row: 2 / 3;
}

.txt_right h2 {
  justify-self: end;
}

.txt_right article {
  grid-column: 6 / -1;
  grid-row: 2 / 3;
}

.txt_right img {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

/* --- call-to-action elements --- */

.cta_txt {
  font-weight: var(--main_font_medium);
}

.cta_btn {
  background-color: var(--clr_cta);
  border-radius: 5px;
  color: var(--clr_light_bg);
  cursor: pointer;
  font-weight: var(--main_font_bold);
  padding: 1% 3%;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  width: fit-content;
}

.cta_btn:hover {
  background-color: var(--clr_light1);
  outline: 2px solid var(--clr_cta);
  color: var(--clr_cta);
}

.cta_btn.scroll {
  align-items: center;
  display: flex;
  gap: 1dvw;
}

.cta_btn.scroll img {
  height: var(--font_m);
}

.logo,
nav li,
footer .info .so_me img,
footer .info .link a {
  color: var(--clr_light_bg);
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  color: var(--clr_cta);
  transform: scale(1.05);
}

nav li:hover,
footer .info .link a:hover {
  color: var(--clr_cta);
  transform: scale(1.1);
}

/* --- NAVIGATION --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

nav {
  font-size: var(--nav_size);
  position: sticky;
  top: -2px;
  z-index: 3;
}

nav .wave {
  min-height: 60px;
  object-fit: cover;
}

nav .logo {
  align-items: center;
  display: flex;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  padding-top: 4%;
}

nav .logo img {
  max-width: 7.5vw;
  width: 55%;
}

nav .logo h4 {
  font-weight: var(--header_regular);
  padding-bottom: 15%;
  white-space: nowrap;
}

nav .menu {
  align-items: center;
  color: var(--clr_light_bg);
  display: flex;
  gap: 5dvw;
  grid-column: 6 / -2;
  grid-row: 1 / 2;
  justify-content: flex-end;
  letter-spacing: 0.2rem;
  padding-bottom: 5%;
  text-align: right;
  white-space: nowrap;
}

nav li {
  height: fit-content;
  width: fit-content;
}

.active {
  font-weight: var(--header_extrabold);
  text-decoration: underline solid 10%;
  text-underline-offset: 0.2rem;
}

/* --- FOOTER --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

footer {
  align-items: end;
  color: var(--clr_light_bg);
}

footer .logo {
  display: flex;
  font-size: var(--font_m);
  grid-column: 2 / 7;
  grid-row: 1 / 2;
}

footer .logo img {
  transform: translateY(2%);
  max-width: 16vw;
}

footer .logo h4 {
  font-weight: var(--header_regular);
  padding-top: 15%;
}

/* --- contact info & links --- */

footer .info {
  display: flex;
  flex-direction: column;
  gap: 2dvw;
  grid-column: 6 / -2;
  grid-row: 1 / 2;
  padding-bottom: var(--main_vertical_space);
  text-align: right;
}

footer .info h2 {
  letter-spacing: 0.1rem;
}

footer .info .so_me {
  display: flex;
  gap: 2dvw;
  justify-content: flex-end;
}

footer .info .so_me a {
  max-height: var(--font_m);
}

footer .info .so_me img {
  max-width: var(--font_m);
}

footer .info .so_me img:hover {
  opacity: 0.6;
  transform: scale(1.25);
}

footer .info .link {
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 0.5dvw;
  letter-spacing: 0.2rem;
  width: fit-content;
}

/* --- copyright --- */

footer .copy {
  background-color: var(--clr_dark_txt);
  color: var(--clr_light_bg);
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  z-index: 1;
}

footer .copy p {
  font-size: var(--font_xs);
  font-weight: var(--main_font_light);
  padding: 0.5dvw 10dvw;
  text-align: right;
}

/* --- MAIN --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

main .info article {
  display: flex;
  flex-direction: column;
  gap: var(--main_vertical_space);
}

.buttons {
  display: flex;
  gap: var(--main_vertical_space);
}

/* --- HOME --------------------------------------------------------------------------------------------------------- */

/* --- hero section --- */

h1 {
  color: var(--clr_light_bg);
  font-size: var(--font_l);
  letter-spacing: 0.1rem;
  margin: 0 10dvw;
  position: absolute;
  text-shadow: 2px 2px 10px var(--clr_dark_txt);
  top: 15dvh;
  width: 80%;
}

.hero {
  background-color: var(--clr_dark1);
  position: relative;
  text-align: center;
}

.hero img {
  height: 300px;
  max-height: 40dvh;
  max-width: 1998px;
  object-fit: cover;
  width: 100%;
}

/* --- marquee feature --- */

.feature {
  align-items: center;
}

.marquee {
  align-items: center;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 50%;
  overflow: hidden;
  position: relative;
}

@keyframes move_marquee {
  to {
    left: -250px;
  }
}

.word {
  animation: move_marquee 60s linear infinite;
  background-color: var(--clr_light1);
  border-radius: var(--border_rad);
  color: var(--clr_dark1);
  font-weight: var(--main_font_bold);
  left: calc(250px * 17); /* width of each word * amount of words */
  padding: 0.4dvw 0;
  position: absolute;
  text-align: center;
  width: 230px;
}

/* --- skills section --- */

.skills {
  padding-top: 5dvw;
  row-gap: 5dvw;
}

.skills h2 {
  grid-column: 1 / -1;
}

.skills .frontend {
  grid-column: 1 / 4;
}

.skills .quote {
  align-items: center;
  display: flex;
  grid-column: 5 / 9;
  justify-content: center;
  position: relative;
}

.skills .quote p {
  font-weight: var(--main_font_medium);
  position: absolute;
  text-align: center;
  width: 80%;
}

.skills .design {
  grid-column: 10 / -1;
}

.skill:not(:last-child) {
  padding-bottom: var(--main_vertical_space);
}

.bar {
  border: 2px solid var(--clr_dark1);
  border-radius: var(--border_rad);
  fill: transparent;
  height: 25px;
  width: 100%;
}

.amount {
  background-color: var(--clr_dark1);
  border-radius: 0 4px 4px 0;
  height: 100%;
}

.bar #html {
  width: 82%;
}

.bar #css {
  width: 90%;
}

.bar #react {
  width: 55%;
}

.bar #javascript {
  width: 63%;
}

.bar #figma {
  width: 72%;
}

.bar #photoshop {
  width: 84%;
}

.bar #illustrator {
  width: 80%;
}

.bar #express {
  width: 67%;
}

/* --- OM MIG ------------------------------------------------------------------------------------------------------- */

.om_mig .info {
  justify-items: center;
  position: relative;
}

.om_mig .info .full_fig_img {
  height: 100%;
  position: absolute;
  transition: all 0.5s ease-in-out; /* Smooth transition over 0.5 seconds */
  max-width: 50%;
  z-index: 1;
}

/* --- timeline section --- */

.timeline {
  grid-template-rows: repeat(11, 1fr);
}

.timeline .wave {
  align-self: center;
}

.year_txt {
  color: var(--clr_light_bg);
  font-size: var(--font_s);
  font-weight: var(--header_extrabold);
  text-align: center;
}

.mdu,
.intern {
  grid-row: 3 / 7;
  justify-self: center;
  width: 90%;
}

.mdu .year_txt,
.intern .year_txt {
  padding-top: 1.5dvw;
}

.mdu {
  grid-column: 5 / 8;
}

.intern {
  grid-column: 10 / 13;
}

.arrow {
  align-self: center;
  grid-column: 1 / -2;
  grid-row: 6 / -6;
  width: 100%;
}

.hf,
.ida {
  align-self: end;
  grid-row: 6 / 10;
  justify-self: center;
  width: 67%;
}

.hf .year_txt,
.ida .year_txt {
  padding-bottom: 1.5dvw;
}

.hf {
  grid-column: 2 / 6;
}

.ida {
  grid-column: 7 / 11;
}

/* --- hobby section --- */

.hobby {
  margin-top: 0;
  max-width: 1200px;
  padding-top: 10dvw;
}

.hobby h2 {
  padding-bottom: var(--main_vertical_space);
}

.hobby h2,
.hobby h3,
.hobby p {
  grid-column: 1 / -1;
}

/* --- image carousel --- */

.img_carousel {
  grid-column: 1 / -1;
  padding-bottom: var(--main_vertical_space);
}

.img_carousel img {
  border-radius: var(--border_rad);
}

.img_carousel .txt h4,
.img_carousel .txt p {
  text-align: right;
}

/* --- image collage --- */

.img_collage {
  align-items: center;
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 1.2dvw;
  grid-template-columns: repeat(4, 1fr);
  padding-top: var(--main_vertical_space);
}

.img_collage div img {
  border-radius: var(--border_rad);
}

.img_collage div img:not(:last-child) {
  margin-bottom: 1dvw;
}

/* --- PROJEKTER ---------------------------------------------------------------------------------------------------- */

.projekter > .info {
  margin-bottom: 5dvw;
  row-gap: var(--main_vertical_space);
}

.projekter .info h2 {
  grid-column: 1 / -1;
}

.projekter .info .img_cluster {
  display: grid;
  grid-template-columns: subgrid;
  height: 100%;
}

.projekter img {
  border-radius: var(--blob_border_rad);
}

.projekter .wave,
.projekter button img {
  border-radius: 0;
}

.img_cluster .sem2_exam {
  grid-column: 2 / -1;
  grid-row: 1 / 4;
  justify-self: center;
  padding-right: 5%;
  width: 50%;
}

.img_cluster .interactive {
  align-self: center;
  grid-column: 1 / 3;
  grid-row: 3 / 6;
  width: 80%;
}

.img_cluster .sem1_exam {
  align-self: center;
  grid-column: 3 / -1;
  grid-row: 4 / 7;
  justify-self: end;
  width: 75%;
}

.img_cluster .mobile_first {
  align-self: end;
  grid-column: 2 / -2;
  grid-row: 6 / 9;
  padding-left: 5%;
  width: 65%;
}

/* --- projects section --- */

#projects {
  padding-top: 5dvw;
}

.projects .info {
  padding-top: 5dvw;
  margin-top: 0;
}

.projects .info article,
.projects .info img {
  grid-row: 1 / -1;
}

.projects .info.txt_right h2 {
  text-align: right;
}

.projects .info.txt_right .cta_btn {
  align-self: flex-end;
}

/* --- KONTAKT ------------------------------------------------------------------------------------------------------ */

.kontakt .info {
  margin-bottom: 5dvw;
  row-gap: var(--main_vertical_space);
}

.kontakt .info img {
  grid-row: 1 / 4;
}

.kontakt .cta_txt em {
  font-style: normal;
  text-decoration: underline solid 10%;
  text-underline-offset: 0.2rem;
}

.kontakt .buttons {
  display: none;
  grid-column: 6 / -1;
  grid-row: 3 / 4;
}

/* --- contact form --- */

form.main_grid {
  margin-top: 0;
  padding-top: 10dvw;
  row-gap: var(--main_vertical_space);
}

form h2 {
  grid-column: 1 / -1;
  padding-bottom: var(--main_vertical_space);
}

form div {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
}

form input,
form textarea {
  background-color: var(--clr_light1);
  border: 4px solid var(--clr_light2);
  border-radius: var(--border_rad);
  margin-top: 0.5dvw;
  outline: none;
  padding: 1%;
}

form textarea {
  height: 20dvh;
  resize: none;
}

form input::placeholder,
form textarea::placeholder {
  font-family: var(--main_font);
  font-size: var(--font_s);
  font-weight: var(--main_font_light);
}

form .cta_btn {
  grid-column: 1 / -1;
  justify-self: center;
}

/* --- LARGE DESKTOP SCREENS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1200px) {
  :root {
    /* --- font sizes --- */
    --font_xs: clamp(0.8rem, 1vw, 1.1rem);
    --font_s: clamp(1.2rem, 1.4vw, 1.8rem);
    --nav_size: clamp(1.4rem, 1.6vw, 2rem);
    --font_m: clamp(1.8rem, 2.2vw, 2.8rem);
    --font_l: clamp(2.2rem, 3.5vw, 4rem);

    /* --- most used spacing --- */
    --main_vertical_space: 2dvw;
  }

  /* --- text & image 2-part layout --- */

  .txt_left h2 {
    grid-column: 1 / 8;
  }

  .txt_left img,
  .txt_left .img_cluster,
  .txt_right img {
    grid-row: 1 / 3;
  }

  .txt_right h2 {
    grid-column: 6 / -1;
    justify-self: baseline;
  }

  /* --- HOME --- */

  .skills .quote p {
    font-size: var(--nav_size);
  }

  /* --- KONTAKT --- */

  .kontakt .cta_txt em {
    font-style: normal;
    text-decoration: none;
  }

  .kontakt .buttons {
    display: flex;
  }
}

/* --- MEDIUM MOBILE SCREENS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 850px) {
  :root {
    /* --- font sizes --- */
    --font_s: clamp(0.9rem, 1vw, 1.2rem);
    --nav_size: clamp(1.2rem, 1.4vw, 1.6rem);
    --font_m: clamp(1.2rem, 1.5vw, 1.8rem);
    --font_l: clamp(1.8rem, 2.5vw, 2.8rem);

    /*--- variables for burgermenu ---*/
    --burger_bar_width: 45px;
    --burger_bar_height: 4px;
    --burger_gap: 8px;
    --burger_height: calc(var(--burger_bar_height) * 3 + var(--burger_gap) * 2);
    --x_bar_width: calc(var(--burger_height) * 1.41421356237);
  }

  .main_grid {
    width: 90%;
  }

  .grid_w_wave {
    grid-template-columns: 5dvw repeat(12, 1fr) 5dvw;
  }

  .cta_btn {
    font-weight: var(--main_font_medium);
  }

  /* --- text & image 2-part layout --- */

  .txt_left article {
    grid-column: 1 / 7;
  }

  .txt_left img,
  .txt_left .img_cluster {
    grid-column: 8 / -1;
  }

  .txt_right article {
    grid-column: 6 / -1;
  }

  .txt_right img {
    grid-column: 1 / 5;
  }

  /* --- NAVIGATION ------------------------------------------------------------------------------------------------- */

  nav .logo {
    grid-column: 2 / 6;
  }

  nav .logo img {
    max-width: 10vw;
  }

  /* --- burger menu --- */

  .burger_menu {
    align-items: end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--burger_gap);
    grid-column: 12 / -2;
    grid-row: 1 / 2;
    height: var(--burger_height);
    margin-top: 10%;
  }

  .burger_bar {
    background-color: var(--clr_light_bg);
    border-radius: var(--border_rad);
    height: var(--burger_bar_height);
    transform-origin: right center;
    width: var(--burger_bar_width);
  }

  .burger_bar.clicked:nth-child(1) {
    rotate: -45deg;
    translate: 0 calc(var(--burger_bar_height) / -2);
    transition: translate ease-in-out 0.3s, rotate ease-in-out 0.5s;
    width: var(--x_bar_width);
  }

  .burger_bar.clicked:nth-child(2) {
    opacity: 0;
    transition: all ease-in-out 0.5s;
    width: 0;
  }

  .burger_bar.clicked:nth-child(3) {
    rotate: 45deg;
    translate: 0 calc(var(--burger_bar_height) / 2);
    transition: translate ease-in-out 0.3s, rotate ease-in-out 0.5s;
    width: var(--x_bar_width);
  }

  .burger_bar.unclicked {
    transform: rotate(0) translate(0);
    transition: translate ease-in-out 0.3s, rotate ease-in-out 0.5s;
  }

  nav .menu {
    background-color: var(--clr_dark2);
    border-radius: var(--border_rad);
    flex-direction: column;
    gap: var(--main_vertical_space);
    padding: 10dvw 5dvw 5dvw;
    position: absolute;
    right: -5dvw;
    top: 20%;
    transform-origin: top;
    transition: all ease-in-out 0.75s;
    width: 100dvw;
    z-index: -1;
  }

  .menu li a {
    text-align: right;
  }

  .hidden {
    transform: scaleY(0);
  }

  .visible {
    display: inherit;
    transform: scaleY(1);
  }

  /* --- FOOTER ----------------------------------------------------------------------------------------------------- */

  footer .logo h4 {
    white-space: nowrap;
  }

  footer .info h2 {
    letter-spacing: normal;
  }

  footer .info {
    grid-column: 2 / -2;
  }

  footer .info .link {
    font-weight: var(--main_font_light);
  }

  /* --- MAIN ------------------------------------------------------------------------------------------------------- */

  /* --- HOME --- */

  .home .info article .cta_txt {
    display: none;
  }

  /* --- hero section --- */

  h1 {
    margin: 0;
    top: 7vh;
    width: 100%;
  }

  .hero img {
    max-height: 15vh;
  }

  /* --- marquee feature --- */

  .word {
    left: calc(200px * 17); /* width of each word * amount of words */
    padding: 0.25dvw 0;
    width: 180px;
  }

  /* --- skills section --- */

  .bar {
    border-radius: 4px;
    height: 20px;
  }

  .amount {
    border-radius: 0;
  }

  /* --- OM MIG --- */

  .om_mig .info .full_fig_img,
  .om_mig .info .blob {
    grid-column: 1 / 4;
  }

  .om_mig .info .full_fig_img {
    max-width: 75%;
  }

  .om_mig .info article {
    grid-column: 5 / -1;
  }

  .om_mig .info article .cta_txt {
    display: none;
  }

  /* --- timeline section --- */

  .timeline {
    grid-template-rows: repeat(9, 1fr);
  }

  .mdu,
  .intern {
    grid-row: 2 / 5;
    width: 80%;
  }

  .hf,
  .ida {
    align-self: baseline;
    grid-row: 6 / 9;
    justify-self: center;
    width: 57%;
  }

  /* --- PROJEKTER --- */

  .img_cluster .sem2_exam {
    width: 60%;
  }

  .img_cluster .interactive {
    width: 90%;
  }

  .img_cluster .sem1_exam {
    width: 85%;
  }

  .img_cluster .mobile_first {
    grid-column: 1 / 4;
    justify-self: center;
    padding: 0;
    width: 70%;
  }
}

/* --- SMALL MOBILE SCREENS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 550px) {
  :root {
    /* --- font sizes --- */
    --font_m: clamp(1.2rem, 1.6vw, 2.2rem);
    --font_l: clamp(1.2rem, 1.4vw, 2rem);

    /* --- most used spacing --- */
    --main_vertical_space: 8dvw;

    /*--- variables for burgermenu ---*/
    --burger_bar_width: 40px;
    --burger_bar_height: 3px;
    --burger_gap: 6px;
    --burger_height: calc(var(--burger_bar_height) * 3 + var(--burger_gap) * 2);
    --x_bar_width: calc(var(--burger_height) * 1.41421356237);
  }

  .main_grid {
    width: 80%;
  }

  .grid_w_wave {
    grid-template-columns: 10dvw repeat(12, 1fr) 10dvw;
  }

  /* --- text & image 2-part layout --- */

  .txt_left h2,
  .txt_right h2 {
    justify-self: center;
    text-align: center;
  }

  .txt_left img,
  .txt_left .img_cluster,
  .txt_right img {
    grid-column: 1 / -1;
    justify-self: center;
    width: 75%;
  }

  .txt_left article,
  .txt_right article {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .buttons {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* --- NAVIGATION ------------------------------------------------------------------------------------------------- */

  nav .logo {
    align-items: flex-start;
    padding-top: 2%;
  }

  nav .logo h4 {
    font-size: var(--font_s);
    line-height: normal;
    padding-top: 8%;
  }

  .burger_menu {
    align-self: center;
    margin: 0 0 15%;
  }

  nav .menu {
    padding: 15dvw 10dvw 5dvw;
    right: -10dvw;
  }

  /* --- FOOTER ----------------------------------------------------------------------------------------------------- */

  footer .logo {
    grid-column: 2 / 4;
  }

  footer .logo h4 {
    display: none;
  }

  /* --- contact info & links --- */

  footer .info {
    gap: 1.5dvw;
    grid-column: 2 / -2;
    padding-bottom: 1dvw;
  }

  footer .info h2 {
    font-size: var(--font_s);
    font-weight: var(--header_regular);
    letter-spacing: 0.1rem;
    white-space: nowrap;
  }

  footer .info .so_me {
    gap: 4dvw;
  }

  footer .info .link {
    gap: 0;
    letter-spacing: 0.1rem;
  }

  footer .info .link a {
    line-height: normal;
  }

  /* --- MAIN ------------------------------------------------------------------------------------------------------- */

  /* --- HOME --- */

  /* --- hero section --- */

  h1 {
    margin: 0 17dvw;
    top: 3vh;
    width: 66%;
  }

  .hero img {
    max-height: 12dvh;
  }

  /* --- marquee feature --- */

  .feature {
    padding: var(--main_vertical_space) 0;
  }

  .word {
    font-weight: var(--main_font_medium);
    left: calc(190px * 17); /* width of each word * amount of words */
    padding: 0;
    width: 170px;
  }

  /* --- skills section --- */

  .skills {
    padding-bottom: var(--main_vertical_space);
    row-gap: var(--main_vertical_space);
  }

  .skills .frontend,
  .skills .quote,
  .skills .design {
    grid-column: 1 / -1;
  }

  .skills .quote .blob {
    width: 60%;
  }

  .skills .quote p {
    font-size: var(--nav_size);
    width: 100%;
  }

  /* ----------------
    CONTACT
  ----------------- */

  /* .contact .cta_txt {
    padding: 4% 0 4%;
  }

  form {
    width: 80%;
  }

  form input,
  form textarea {
    margin: 2% 0 5%;
  } */
}

/* --- TINY MOBILE SCREENS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 350px) {
}
