@import url("https://use.typekit.net/rdz6bkk.css");

#root {
  /* --- color palette --- */
  --clr_dark_txt: #030c0a;
  --clr_dark1: #0f342c;
  --clr_dark2: #1a5b4e;
  --clr_cta: #258370;
  --clr_light_bg: #f7fdfc;
  --clr_light1: #e3f7f3;
  --clr_light2: #bcece2;

  /* --- font families --- */
  --header_font: "dico-mono-slab", mono;
  --main_font: "ballinger-mono", sans-serif;

  /* --- font weights --- */
  --header_regular: 400;
  --header_bold: 700;
  --header_extrabold: 800;

  --main_font_thin: 100;
  --main_font_light: 300;
  --main_font_regular: 400;
  --main_font_medium: 500;
  --main_font_bold: 700;

  /* --- font sizes --- */
  --font_xs: clamp(0.5rem, 0.8vw, 1rem);
  --font_s: clamp(1rem, 1.1vw, 1.2rem);
  --nav_size: clamp(1.2rem, 1.3vw, 1.6rem);
  --font_m: clamp(1.5rem, 2vw, 2.5rem);
  --font_l: clamp(2.2rem, 3.2vw, 3.5rem);
}

/* -----------------------------------------------
  GENERAL STYLING
----------------------------------------------- */

*,
html,
body {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

img {
  object-fit: contain;
}

a {
  color: inherit;
  line-height: 175%;
  text-decoration: none;
}

ul,
li {
  font-family: var(--header_font);
  font-size: var(--nav_size);
  font-weight: var(--header_bold);
  line-height: 175%;
  list-style: none;
}

body {
  background-color: var(--clr_light_bg);
  font-family: var(--main_font);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header_font);
  line-height: 175%;
}

button,
p,
label,
input,
textarea,
h6 {
  font-family: var(--main_font);
  font-size: var(--font_s);
}

p {
  hyphens: manual;
  line-height: 175%;
  text-align: justify;
}

h2 {
  font-size: var(--font_m);
  padding-bottom: 3dvw;
}

.cta_txt {
  font-weight: var(--main_font_medium);
  padding: 5% 0 7%;
}

.cta_btn {
  background-color: var(--clr_cta);
  border-radius: 5px;
  color: var(--clr_light_bg);
  cursor: pointer;
  font-weight: var(--main_font_bold);
  padding: 1% 3%;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.cta_btn:hover {
  background-color: var(--clr_light1);
  outline: 2px solid var(--clr_cta);
  color: var(--clr_cta);
}

/* --------------------------------------------------
  HERO SECTION
--------------------------------------------------- */

h1 {
  color: var(--clr_light_bg);
  font-size: var(--font_l);
  letter-spacing: 0.1rem;
  margin: 0 5%;
  position: absolute;
  text-shadow: 2px 2px 10px var(--clr_dark_txt);
  top: 15vh;
  width: 90%;
}

.hero {
  background-color: var(--clr_dark1);
  position: relative;
  text-align: center;
}

.hero img {
  height: 300px;
  max-height: 40vh;
  max-width: 1998px;
  object-fit: cover;
}

/* --------------------------------------------------------
  NAVIGATION
-------------------------------------------------------- */

nav {
  display: grid;
  font-size: var(--nav_size);
  grid-template-columns: 10dvw repeat(12, 1fr) 10dvw;
  position: sticky;
  top: 0;
  z-index: 3;
}

nav .wave {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

nav .logo {
  align-items: center;
  display: flex;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  padding-top: 4%;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

nav .logo img {
  max-width: 7.5vw;
  width: 55%;
}

nav .logo h4 {
  color: var(--clr_light_bg);
  font-weight: var(--header_regular);
  padding-bottom: 15%;
}

nav ul {
  align-items: center;
  color: var(--clr_light_bg);
  display: flex;
  font-weight: var(--header_bold);
  gap: 10%;
  grid-column: 6 / -2;
  grid-row: 1 / 2;
  justify-content: flex-end;
  letter-spacing: 0.2rem;
  padding-bottom: 5%;
  text-align: right;
  white-space: nowrap;
}

nav li {
  height: fit-content;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.active {
  font-weight: var(--header_extrabold);
  text-decoration: underline solid 10%;
  text-underline-offset: 0.2rem;
}

nav .logo:hover {
  transform: scale(1.05);
}

nav li:hover {
  color: var(--clr_cta);
  transform: scale(1.1);
}

/* ------------------------------------------------------
  FOOTER
------------------------------------------------------- */

footer {
  align-items: end;
  display: grid;
  font-family: var(--main_font);
  grid-template-columns: 10dvw repeat(12, 1fr) 10dvw;
}

footer .wave {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  object-fit: cover;
}

footer .logo {
  display: flex;
  font-size: var(--font_m);
  grid-column: 2 / 7;
  grid-row: 1 / 2;
}

footer .logo img {
  transform: translateY(2%);
  max-width: 17.5vw;
}

footer .logo h4 {
  color: var(--clr_light_bg);
  font-weight: var(--header_regular);
  padding-top: 15%;
}

footer .info {
  grid-column: 6 / -2;
  grid-row: 1 / 2;
  padding-bottom: 3%;
  text-align: right;
}

footer .info h2 {
  color: var(--clr_light_bg);
  letter-spacing: 0.1rem;
}

footer .info .so_me {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 3%;
}

footer .info .so_me a {
  padding-left: 5%;
  width: 10%;
}

footer .info .link {
  color: var(--clr_light_bg);
  font-size: var(--font_s);
  letter-spacing: 0.2rem;
  padding-bottom: 2%;
}

footer .copy {
  background-color: var(--clr_dark_txt);
  color: var(--clr_light_bg);
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  z-index: 1;
}

footer .copy p {
  font-size: var(--font_xs);
  font-weight: var(--main_font_light);
  padding: 0.5% 8.5%;
  text-align: right;
}

/* ---------------------------------------------------------
  MAIN
--------------------------------------------------------- */

main .info {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 10% auto;
  max-width: 1200px;
  width: 80%;
}

.info article {
  grid-column: 1 /8;
}

.info article div {
  display: flex;
  gap: 8%;
}

.info img {
  grid-column: 9 / -1;
}

/* ---------------------------------------------------------
  HOME
--------------------------------------------------------- */

/* -------------- marquee feature --------------------- */

.feature {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
}

.feature .wave {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.marquee {
  align-items: center;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-content: space-evenly;
  height: 50%;
  overflow: hidden;
  position: relative;
}

@keyframes move_marquee {
  to {
    left: -250px;
  }
}

.word {
  animation: move_marquee 60s linear infinite;
  background-color: var(--clr_light1);
  border-radius: 5px;
  color: var(--clr_dark1);
  font-weight: var(--main_font_bold);
  left: calc(250px * 17); /* width of each word * amount of words */
  padding: 0.5% 0;
  position: absolute;
  text-align: center;
  width: 230px;
}

/* ------------- skills section ----------------------- */

.skills {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 10% auto;
  max-width: 1200px;
  width: 80%;
}

.skills h2 {
  grid-column: 1 / -1;
}

.skills .frontend {
  grid-column: 1 / 4;
}

.skills .quote {
  align-items: center;
  display: flex;
  grid-column: 5 / 9;
  justify-content: center;
  position: relative;
}

.skills .quote p {
  font-weight: var(--main_font_medium);
  position: absolute;
  text-align: center;
  width: 80%;
}

.skills .design {
  grid-column: 10 / -1;
}

.skill:not(:last-child) {
  padding-bottom: 3dvw;
}

.bar {
  border: 2px solid var(--clr_dark1);
  border-radius: 5px;
  fill: transparent;
  height: 25px;
  width: 100%;
}

.amount {
  background-color: var(--clr_dark1);
  border-radius: 0 4px 4px 0;
  height: 100%;
}

.bar #html {
  width: 82%;
}

.bar #css {
  width: 90%;
}

.bar #react {
  width: 55%;
}

.bar #javascript {
  width: 63%;
}

.bar #figma {
  width: 72%;
}

.bar #photoshop {
  width: 84%;
}

.bar #illustrator {
  width: 80%;
}

.bar #express {
  width: 67%;
}

/* --------------------------------------------------------------------------
  OM MIG
--------------------------------------------------------------------------- */

.om_mig .info {
  margin: 5% auto 10%;
  position: relative;
}

.om_mig .info .full_fig_img {
  grid-column: 2 / 4;
  grid-row: 1 / -1;
  height: 100%;
  position: absolute;
  transition: all 0.5s ease-in-out; /* Smooth transition over 0.5 seconds */
  z-index: 1;
}

.om_mig .info .blob {
  grid-column: 1 / 5;
  grid-row: 1 / -1;
  margin: 25% 0;
}

.om_mig .info article {
  grid-column: 6 / -1;
  grid-row: 1 / -1;
}

/* ------ timeline section ------------------------------- */

.timeline {
  display: grid;
  grid-template-columns: 10dvw repeat(12, 1fr) 10dvw;
  grid-template-rows: repeat(11, 1fr);
}

.timeline .wave {
  align-self: center;
  grid-column: 1 / -1;
  grid-row: 1 / 12;
}

.year_txt {
  color: var(--clr_light_bg);
  font-size: var(--font_s);
  font-weight: var(--header_extrabold);
  text-align: center;
}

.mdu,
.intern {
  grid-row: 3 / 7;
  justify-self: center;
  width: 90%;
}

.mdu .year_txt,
.intern .year_txt {
  padding-top: 5%;
}

.mdu {
  grid-column: 5 / 8;
}

.intern {
  grid-column: 10 / 13;
}

.arrow {
  align-self: center;
  grid-column: 1 / -2;
  grid-row: 6 / -6;
}

.hf,
.ida {
  align-self: end;
  grid-row: 6 / 10;
  justify-self: center;
  width: 67%;
}

.hf .year_txt,
.ida .year_txt {
  padding-bottom: 5%;
}

.hf {
  grid-column: 2 / 6;
}

.ida {
  grid-column: 7 / 11;
}

/* ------ hobby section ------------------------------- */

.hobby {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 10% auto;
  max-width: 1200px;
  width: 80%;
}

.hobby h2,
.hobby h3,
.hobby p {
  grid-column: 1 / -1;
}

/* ------ image carousel -------------- */

.img_carousel {
  grid-column: 1 / -1;
  margin-bottom: 5%;
}

.img_carousel .txt {
  justify-self: end;
  width: 25%;
}

.img_carousel .txt h4,
.img_carousel .txt p {
  text-align: right;
}

/* ------ image collage -------------- */

.img_collage {
  align-items: center;
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 1.2dvw;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3dvw;
}

.img_collage div img {
  border-radius: 5px;
}

.img_collage div img:not(:last-child) {
  margin-bottom: 1dvw;
}

/* ----------------------------------------------------------------------------
  CONTACT
---------------------------------------------------------------------------- */

.contact .info {
  margin: 10% auto 5%;
}

.contact .info article {
  grid-column: 6 / -1;
}

.contact .info img {
  grid-column: 1 / 5;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 8% auto 10%;
  max-width: 1200px;
  width: 80%;
}

form input,
form textarea {
  background-color: var(--clr_light1);
  border: 4px solid var(--clr_light2);
  border-radius: 5px;
  margin: 1% 0 3%;
  padding: 1%;
  outline: none;
  width: 100%;
}

form textarea {
  height: 20dvh;
  resize: none;
}

form input::placeholder,
form textarea::placeholder {
  font-family: var(--main_font);
  font-size: var(--font_s);
  font-weight: var(--main_font_light);
}

form .cta_btn {
  margin: 1% 0 2%;
  padding: 0.75% 1.5%;
  text-align: center;
}

/* ------------------------------------------------------------------------
  EXTRA LARGE SCREENS
-------------------------------------------------------------------------- */

@media only screen and (min-width: 1200px) {
  .skills .quote p {
    font-size: var(--nav_size);
  }
}

/* -----------------------------------------------------------------------
  MEDIUM SCREENS
-------------------------------------------------------------------------- */

@media only screen and (max-width: 800px) {
  #root {
    /* --- font sizes --- */
    --font_xs: clamp(0.6rem, 0.9vw, 1rem);
    --font_s: clamp(0.8rem, 1vw, 1.1rem);
    --nav_size: clamp(0.9rem, 1.15vw, 1.2rem);
    --font_m: clamp(1.2rem, 1.5vw, 1.8rem);
    --font_l: clamp(1.8rem, 2.5vw, 2.8rem);
  }

  /* --- NAVIGATION --- */

  nav .logo {
    grid-column: 2 / 6;
  }

  /* ----------------
    HERO SECTION
  ----------------- */

  h1 {
    margin: 0 10%;
    top: 7.5vh;
    width: 80%;
  }

  .hero img {
    max-height: 20vh;
  }

  /* ----------------
    FOOTER
  ----------------- */

  footer .logo {
    grid-column: 2 / 5;
  }

  footer .logo img {
    max-width: 15vw;
  }

  footer .logo h4 {
    white-space: nowrap;
  }

  footer .info {
    grid-column: 2 / -2;
  }

  footer .info h2 {
    padding-bottom: 3%;
  }

  footer .info .so_me {
    padding-bottom: 2%;
  }

  footer .info .so_me a {
    padding-left: 3%;
    width: 7%;
  }

  footer .info .link {
    font-weight: var(--main_font_light);
    padding-bottom: 2%;
  }

  /* ----------------
    MAIN
  ----------------- */

  .info article {
    grid-column: 1 / 8;
  }

  .info img {
    grid-column: 9 / -1;
  }

  /* ----------------
    HOME
  ----------------- */

  /* --- marquee feature --- */

  .word {
    left: calc(200px * 17); /* width of each word * amount of words */
    padding: 0.25% 0;
    width: 180px;
  }

  /* --- skills section --- */

  .skills .quote p {
    width: 80%;
  }

  .bar {
    border-radius: 3px;
    height: 15px;
  }

  .amount {
    border-radius: 0;
  }

  /* ----------------
    CONTACT
  ----------------- */

  .contact .info {
    margin: 8% auto 8%;
  }

  .contact .cta_txt {
    padding: 3% 0 3%;
  }

  form {
    margin: 8% auto 8%;
  }
}

/* ---------------------------------------------------------------------------
  SMALL SCREENS
---------------------------------------------------------------------------- */

@media only screen and (max-width: 450px) {
  #root {
    /* --- font sizes --- */
    --font_xs: clamp(0.5rem, 0.5vw, 0.8rem);
    --font_s: clamp(0.8rem, 0.9vw, 1rem);
    --nav_size: clamp(0.6rem, 0.8vw, 1rem);
    --font_m: clamp(1rem, 1.2vw, 1.5rem);
    --font_l: clamp(1.2rem, 1.2vw, 1.8rem);
  }

  /* ----------------
    HERO SECTION
  ----------------- */

  h1 {
    margin: 0 15%;
    top: 3vh;
    width: 70%;
  }

  .hero img {
    max-height: 12vh;
  }

  /* ----------------
    NAVIGATION
  ----------------- */

  nav .logo {
    align-items: flex-start;
  }

  nav ul {
    align-items: flex-start;
    font-weight: var(--header_regular);
  }

  /* ----------------
    FOOTER
  ----------------- */

  footer .logo {
    grid-column: 2 / 4;
  }

  footer .logo h4 {
    display: none;
  }

  footer .info {
    grid-column: 2 / -2;
  }

  footer .info h2 {
    font-size: var(--font_s);
    font-weight: var(--header_regular);
    letter-spacing: 0.1rem;
    padding-bottom: 1.5%;
  }

  footer .info .so_me {
    padding-bottom: 1%;
  }

  footer .info .link {
    padding-bottom: 1%;
  }

  /* ----------------
    MAIN
  ----------------- */

  main .info {
    width: 80%;
  }

  .info article {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .info img {
    grid-column: 4 / -4;
    grid-row: 1 / 2;
    margin: 0 auto 10%;
  }

  /* ----------------
    HOME
  ----------------- */

  /* --- marquee feature --- */

  .feature {
    padding: 5% 0;
  }

  .word {
    border-radius: 3px;
    font-weight: var(--main_font_medium);
    left: calc(160px * 17); /* width of each word * amount of words */
    width: 150px;
  }

  /* --- skills section --- */

  .skills {
    width: 80%;
  }

  .skills h2 {
    padding-bottom: 10%;
  }

  .skills .frontend,
  .skills .quote,
  .skills .design {
    grid-column: 1 / -1;
  }

  .skills .quote .blob {
    width: 60%;
  }

  .skill {
    padding-bottom: 5%;
  }

  /* ----------------
    CONTACT
  ----------------- */

  .contact .cta_txt {
    padding: 4% 0 4%;
  }

  form {
    width: 80%;
  }

  form input,
  form textarea {
    margin: 2% 0 5%;
  }
}
